.title {
    text-align: center;
}

.game-title {
    display: flex;
    justify-content: center;
}

.start-button {
    align-self: center;
}

.start-button:hover {
    color: white;
    background-color: blue;
}
